/*-- scss:defaults --*/

$primary: #8BC0CD !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #EB4B81;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}